@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-gray-300;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a9abaeff #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  /* Fade-in top animation */
  @keyframes fade-in-top {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Fade-in left animation */
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Fade-in right animation */
  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Fade-in bottom animation */
  @keyframes fade-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Tailwind utilities for fade-in animations */
  .fade-in-top {
    animation: fade-in-top 0.3s ease-out;
  }

  .fade-in-left {
    animation: fade-in-left 0.3s ease-out;
  }

  .fade-in-right {
    animation: fade-in-right 0.3s ease-out;
  }

  .fade-in-bottom {
    animation: fade-in-bottom 0.3s ease-out;
  }
}
